<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ledison</title>

    <link href="../../resources/css/bootstrap.css" rel="stylesheet" />
    <link href="../../resources/css/style.css" rel="stylesheet">
    <link href="../../resources/css/font-awesome.css" rel="stylesheet">

    <!-- Angular.JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="../../resources/js/bootstrap.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu"><span
                    class="sr-only">Пункти</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span></button>
                <a class="navbar-brand" href="home">LEDISON</a></div>
            <div class="collapse navbar-collapse" id="responsive-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a class="dropdowm-toggle" href="#" data-toggle="dropdown"><b
                        class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Каталог</a></li>
                            <li><a href="#">Передзвоніть мені</a></li>
                            <li><a href="#">Зворотній зв’язок</a></li>
                            <li><a href="#">Новинки індустрії</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Про компанію</a></li>
                        </ul>
                    </li>
                    <li>
                        <form action="" class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Пошук" value=""></div>
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </form>
                    </li>
                    <li>
                    </li>
                </ul>
                <div class="navbar-form navbar-right">
                    <a href="login" class="btn btn-primary"><i class="fa fa-sign-in"></i> Вхід/Реєстрація</a>
                    <a href="login" class="btn btn-danger"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="after-divider"></div>
    <div class="container">
        <div class="col-md-3 col-lg-3 col-lg-3">
           <br>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#brand">Бренд</a>
                        </h4>
                    </div>
                    <div id="brand" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td><a href="#">Sub-Item 1</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 2</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 3</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 4</a> <span class="badge">99</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#price">Ціна</a>
                        </h4>
                    </div>
                    <div id="price" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td><a href="#">Sub-Item 1</a> <span class="label label-success">$ 1320</span></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 2</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 1</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 1</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#socleType">Тип цоколя</a>
                        </h4>
                    </div>
                    <div id="socleType" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td><a href="#">Sub-Item 1</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 2</a> <span class="label label-info">5</span></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 3</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" class="text-danger">
                                    Sub-Item 4</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#glowColor">Колір світіння</a>
                        </h4>
                    </div>
                    <div id="glowColor" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td><a href="#">Sub-Item 1</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 2</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 3</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 4</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#lampShape">Форма лампи</a>
                        </h4>
                    </div>
                    <div id="lampShape" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td><a href="#">Sub-Item 1</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 2</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 3</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 4</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#power">Потужність, W</a>
                        </h4>
                    </div>
                    <div id="power" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td><a href="#">Sub-Item 1</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 2</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 3</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 4</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#operatingVoltage">Робоча напруга, V</a>
                        </h4>
                    </div>
                    <div id="operatingVoltage" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td><a href="#">Sub-Item 1</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 2</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 3</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 4</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#diffuserType">Тип розсіювача</a>
                        </h4>
                    </div>
                    <div id="diffuserType" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td><a href="#">Sub-Item 1</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 2</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 3</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 4</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#serviceLife">Термін служби, год</a>
                        </h4>
                    </div>
                    <div id="serviceLife" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td><a href="#">Sub-Item 1</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 2</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 3</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 4</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#warrantyPeriod">Гарантійний термін, м</a>
                        </h4>
                    </div>
                    <div id="warrantyPeriod" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td><a href="#">Sub-Item 1</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 2</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 3</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sub-Item 4</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
        <div class="col-md-9 col-lg-9">
            <div class="row">
            <div class="col-xs-6 col-sm-4">
                <a href="">
                   <div class="thumbnail"> 
                   <img src="http://placehold.it/300x240" alt="">
                    <div class="caption">
                        <h3><a href="#">Product</a></h3>
                        <span style="font-size: 24px;" >0,00</span>
                        <a href="#" class="btn btn-success pull-right">Купити <i class="fa fa-cart-plus" aria-hidden="true"></i></a> </div>
                </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4">
                <a href="">
                   <div class="thumbnail"> 
                   <img src="http://placehold.it/300x240" alt="">
                    <div class="caption">
                        <h3><a href="#">Product</a></h3>
                        <span style="font-size: 24px;" >0,00</span>
                        <a href="#" class="btn btn-success pull-right">Купити <i class="fa fa-cart-plus" aria-hidden="true"></i></a> </div>
                </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4">
                <a href="">
                   <div class="thumbnail"> 
                   <img src="http://placehold.it/300x240" alt="">
                    <div class="caption">
                        <h3><a href="#">Product</a></h3>
                        <span style="font-size: 24px;" >0,00</span>
                        <a href="#" class="btn btn-success pull-right">Купити <i class="fa fa-cart-plus" aria-hidden="true"></i></a> </div>
                </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4">
                <a href="">
                   <div class="thumbnail"> 
                   <img src="http://placehold.it/300x240" alt="">
                    <div class="caption">
                        <h3><a href="#">Product</a></h3>
                        <span style="font-size: 24px;" >0,00</span>
                        <a href="#" class="btn btn-success pull-right">Купити <i class="fa fa-cart-plus" aria-hidden="true"></i></a> </div>
                </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4">
                <a href="">
                   <div class="thumbnail"> 
                   <img src="http://placehold.it/300x240" alt="">
                    <div class="caption">
                        <h3><a href="#">Product</a></h3>
                        <span style="font-size: 24px;" >0,00</span>
                        <a href="#" class="btn btn-success pull-right">Купити <i class="fa fa-cart-plus" aria-hidden="true"></i></a> </div>
                </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4">
                <a href="">
                   <div class="thumbnail"> 
                   <img src="http://placehold.it/300x240" alt="">
                    <div class="caption">
                        <h3><a href="#">Product</a></h3>
                        <span style="font-size: 24px;" >0,00</span>
                        <a href="#" class="btn btn-success pull-right">Купити <i class="fa fa-cart-plus" aria-hidden="true"></i></a> </div>
                </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4">
                <a href="">
                   <div class="thumbnail"> 
                   <img src="http://placehold.it/300x240" alt="">
                    <div class="caption">
                        <h3><a href="#">Product</a></h3>
                        <span style="font-size: 24px;" >0,00</span>
                        <a href="#" class="btn btn-success pull-right">Купити <i class="fa fa-cart-plus" aria-hidden="true"></i></a> </div>
                </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4">
                <a href="">
                   <div class="thumbnail"> 
                   <img src="http://placehold.it/300x240" alt="">
                    <div class="caption">
                        <h3><a href="#">Product</a></h3>
                        <span style="font-size: 24px;" >0,00</span>
                        <a href="#" class="btn btn-success pull-right">Купити <i class="fa fa-cart-plus" aria-hidden="true"></i></a> </div>
                </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4">
                <a href="">
                   <div class="thumbnail"> 
                   <img src="http://placehold.it/300x240" alt="">
                    <div class="caption">
                        <h3><a href="#">Product</a></h3>
                        <span style="font-size: 24px;" >0,00</span>
                        <a href="#" class="btn btn-success pull-right">Купити <i class="fa fa-cart-plus" aria-hidden="true"></i></a> </div>
                </div>
                </a>
            </div>
        </div>
        <nav class="text-center">
            <ul class="pagination pagination-sm">
                <li class="disabled"> <a href="#"><i class="fa fa-chevron-left"></i> <i class="fa fa-chevron-left"></i> </a> </li>
                <li class="disabled"> <a href="#"><i class="fa fa-chevron-left"></i> </a> </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li>
                    <a href="#"> <i class="fa fa-chevron-right"></i> </a>
                </li>
                <li>
                    <a href="#"> <i class="fa fa-chevron-right"></i> <i class="fa fa-chevron-right"></i> </a>
                </li>
            </ul>
        </nav>
        </div>
        </div>
        
    </div>
    
    <br>
    <footer class="foooter">
        <div class="container text-center">
            <hr/>
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Founder</a></li>
                            <li><a href="#">Manufacturers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Web analytics</a></li>
                            <li><a href="#">Presentations</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Product Help</a></li>
                            <li><a href="#">About Product</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="/">© 2017 Ivan Kondratiuk</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <br>
    <div class="modal fade" id="modal-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal"><i class="fa fa-close"></i></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>Modal window</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Dismiss</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover();
        });
    </script>
</body>

</html>
